html.lt-ie9 {
  header.main .title-bar {
    padding: 0 4%;
  }
  .ie-show {
    display: block;
  }
  .search-text {
    font-size: 13px;
    color: $color-main;
  }
  footer.main {
    height: 250px;
  }
  header.main .main-header .content .bottom .social [class^="icon-"] {
    font-size: 36px;
    position: relative;
    bottom: 2px;
  }
  .main-header {
    height: 130px;
  }
  .overlay {
    display: none;
  }
  footer.main a[class^="icon-"] {
    font-size: 36px;
  }
  .main-header .content .bottom {
    margin-top: 15px;
  }
  .conceal {
    display: none !important;
  }
  .reveal {
    display: inherit;
  }
  .reveal-m {
    display: inherit;
  }
  .grid-row {
    .unit1of1 {
      width: 100%; 
      float: left;
      text-align: left; 
    }
    .unit1of2 {
      width: 50%;
      float: left;
      text-align: left; 
    }
    .unit1of3 {
      width: 33.3333333%; 
      float: left;
      text-align: left; 
    }
    .unit2of3 {
      width: 66.6666666%;
      float: left;
      text-align: left; 
    }
    .unit1of4 {
      width: 25%;
      float: left;
      text-align: left; 
    }
    .unit3of4 {
      width: 75%;
      float: left;
      text-align: left; 
    }
    .unit1of5 {
      width: 20%; 
      float: left;
      text-align: left; 
    }
    .unit2of5 {
      width: 40%; 
      float: left;
      text-align: left; 
    }
    .unit4of5 {
      width: 80%;
      float: left;
      text-align: left; 
    }
  }

}