.make-a-gift {
	.page-body {
		padding: 0;
	}
	// .about-text {
	// 	background: $color-alt;
	// 	color: #fff;
	// 	padding: 30px;
	// 	width: 100%;
	// 	.section-title {
	// 		margin-top: 0;
	// 		margin-bottom: 0;
	// 		line-height: 1.4em;
	// 	}
	// 	p {
	// 		margin-bottom: 20px;
	// 		&:last-of-type {
	// 			margin-bottom: 0;
	// 		}
	// 	}
	// }
	.text-wrapper {
		color: $color-main;
		padding: 30px 3% 60px 3%;
		.section-title {
			color: $color-main;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		b, strong {
			font-weight: 400;
		}
		ul {
			list-style-type: disc;
			padding-left: 20px;
		}
		i, em {
			font-weight: italic;
		}
		.btn {
			margin-top: 30px;
		}
	}
}