.video-banner {
	@include bgcover("img/video_bg2.jpg");
	width: 100%;
	height: 250px;
	text-align: center;
	background-position: center 25%;
	@include breakpx(700px, 900px) {
		height: 250px;
	}
	@include breakpx(500px, 700px) {
		height: 200px;
	}
	@include breakpx(0, 500px) {
		height: 170px;
	}
	.youtube {
		font-size: 60px;
		color: #fff !important;
		text-decoration: none;
		display: inline-block;
		margin: 0 auto;
		padding-top: 18px;
		&::before {
			color: #fff;
		}
		&:focus {
			outline-width: 0;
		}
		&:hover {
			color: $color-bright;
			text-decoration: none;
			&::before {
				color: $color-bright;
			}
		}
	}
}

.post-index-page-text {
	color: #fff;
	width: 100%;
	background: $color-alt;
	padding: 30px;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

.post-index-more-text {
	color: #fff;
	width: 100%;
	background: $color-main;
	padding: 30px;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

.post-grid-wrapper {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	.gutter-sizer {
	//	width: 1%;
	}
	.grid-sizer, .post-box {
		width: 33.3333333%;
		@include breakpx (600px, 900px) {
			width: 50%;
		}
		@include breakpx(0, 600px) {
			width: 100%;
		}
	}
}
.post-box {
//	margin-bottom: 25px;
	float: left;
	border: none;
	background: transparent;
//	cursor: pointer;
//	margin-bottom: 20px;
//	margin: 20px;
//	margin-bottom: 15px;
	&.big {
		width: 66.66666666%;
		z-index: 2;
		.container .image-wrapper {
			background: $color-main;
			border: 1px solid #b9b9b9;
			.post-box-link {
				width: 50%;
				float: left;
				@include breakpx(0, 600px) {
					width: 100%;
					float: none;
				}
			}
			.blurb {
				display: block;
				width: 50%;
				float: right;
				display: block;
				padding: 10px;
				font-size: 15px;
		//		background: $color-main;
				color: #fff;
				@include breakpx(0, 600px) {
					width: 100%;
					float: none;
				}
			}
		}
		.container .text-wrapper .read-more {
			display: block;
		}
		@include breakpx(0,900px) {
	//		width: 99.99999%;
		}
		@include breakpx(0, 600px) {
			width: 100%;
			margin: 0 auto;
		}
	}
	.container {
		padding: 20px;
		width: 100%;
		height: 100%;
		text-align: left;
	//	background: white;
		-webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
 //   cursor: pointer;
		.post-box-link {
			display: block;
			position: relative;
	//		cursor: pointer;
		}
		.image-wrapper {
			cursor: pointer;
			.blurb {
				display: none;
				@include small {
					padding: 10px 10px 15px 10px;
					font-size: 15px;
					color: #fff;
					background: $color-main;
					position: relative;
					bottom: 5px;
					text-align: center;
				}
			}
			.mobile-show-more {
				position: absolute;
				z-index: 3;
				bottom: 5px;
				right: 0;
				display: none;
				width: 100%;
				text-align: right;
				background: rgba(0,0,0,0.5);
				padding: 5px 10px 0 10px;
				font-size: 21px;
				color: #fff;
				@include breakpx(0,600px) {
					display: block !important;
				}
			}
			@include small {
		//		border: 1px solid #b9b9b9;
			}
		}
		.text-wrapper {
			padding: 10px 15px 15px 15px;
			border-bottom: 1px solid #b9b9b9;
			border-left: 1px solid #b9b9b9;
			border-right: 1px solid #b9b9b9;
			background: #fff;
			position: relative;
			bottom: 5px;
			.read-more {
				display: none;
				position: absolute;
				right: 10px;
				top: 11px;
				font-size: 17px;
				padding: 6px 10px 7px 10px;
				background: $color-alt;
				color: #fff;
				&:hover {
					background: $color-main;
					text-decoration: none;
				}
				@include small {
					position: static;
					margin-top: 10px;
					display: inline-block;
				}
			}
			@include small {
				display: block !important;
				text-align: center;
				padding: 10px 15px 10px 15px;
			}
		}
		.patient-name {
			color: $color-main;
			font-size: 20px;
			margin-bottom: 8px;
		}
		.patient-subtitle {
			color: #666666;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}

#fullscreen-overlay {
	background: rgba(71,46,147,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	.modal-wrapper {
		max-width: 600px;
		width: 96%;
		margin: 0 auto;
		position: relative;
		bottom: 800px;
		-webkit-transition: bottom 0.4s ease;
    -moz-transition: bottom 0.4s ease;
    -o-transition: bottom 0.4s ease;
    transition: bottom 0.4s ease;
		&.shown {
			bottom: 0;
		}
	}
	.modal {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		background: #fff;
		color: #2f2f2f;
		padding: 40px;
		position: relative;
		#name {
			font-size: 24px;
			margin-bottom: 6px;
		}
		#subtitle {
			font-size: 18px;
			margin-bottom: 12px;
			color: rgb(103, 103, 103);
		}
		#blurb {
			font-size: 15px;
		}
		.read-more {
			margin-top: 15px;
			padding: 4px 15px 6px 15px;
			background: $color-alt; 
			&:hover {
				background: shade($color-alt, 10%);
			}
		}
		#close-modal {
			position: absolute;
			top: 10px;
			right: 10px;
			color: $color-main;
			font-size: 30px;
			&:hover {
				color: $color-alt;
			}
		}
	}
}