.page-body {
  a {
    color: $color-main;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn, input[type=submit] {
  -webkit-border-radius: $btn-border-radius;
  -moz-border-radius: $btn-border-radius;
  -ms-border-radius: $btn-border-radius;
  -o-border-radius: $btn-border-radius;
  border-radius: $btn-border-radius;
  background: $btn-bg-color;
  color: $btn-font-color;
  font: $btn-font;
  display: inline-block;
  font-weight: $btn-font-weight; 
  padding: 8px 15px 10px 15px;
  font-size: $btn-font-size;
  text-decoration: none;
  text-transform: $btn-font-case;
  line-height: 1em; 
  -webkit-appearance: none;
  text-align: center; 
  cursor: pointer; 
  border-width: $btn-border-width;

  @if $btn-border-side == "bottom" {
    border-bottom: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "horizontal" {
    border-left: $btn-border-width solid $btn-border-color;
    border-right: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "vertical" {
    border-top: $btn-border-width solid $btn-border-color;
    border-bottom: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "left" {
    border-left: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "right" {
    border-right: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "top" {
    border-top: $btn-border-width solid $btn-border-color;
  }
  @else if $btn-border-side == "all" {
    border: $btn-border-width solid $btn-border-color;
  }

  &:hover {
    background: shade($btn-bg-color, 10%); 
    text-decoration: none; 
    border-color: shade($btn-border-color, 10%); 
  }
  &.white {
    background: #fff;
    color: $color-main;
    &:hover {
      background: $color-main;
      color: #fff;
    }
  }
  &.white-outline {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    &:hover {
      background: $btn-border-color;
    }
  }
  &.color-outline {
    border: 1px solid $btn-border-color;
    background: none;
    color: $btn-border-color;
    &:hover {
      background: #fff;
    }
  }
  &.give-now {
    text-transform: uppercase;
    background: $color-bright;
    color: #fff;
    padding: 4px 8px 2px 8px;
    font: $font-alt;
    font-size: 18px;
    &::after {
      content:'\276F';
      padding-left: 10px;
    }
    &:hover {
      background: shade($color-bright, 10%);
    }
  }
}

[class^="icon-"] {
  text-decoration: none;
  font-size: 40px;
  &.white {
    color: #fff; 
    &:hover {
      color: $color-main;
    }
  }
  &.colored {
    color: $color-main;
    &:hover {
      color: shade($color-main, 10%); 
    }
  }
}

a[class^="icon-"] {
  cursor: pointer; 
  text-decoration: none;
}

ul.social-links {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
  li {
    display: inline-block;
  }
}