footer.main {
  height: $footer-height;
  background: $footer-bg-color; 
  font: $font-main;
  font-size: 14px;
  clear: both;
  color: $footer-font-color;
  padding: 30px 0 95px 0;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.19);
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.19);
  position: relative;
  .links {
    width: 40%;
    float: left;
    .give-now {
      font-size: 35px;
      padding: 5px 10px 1px 10px;
      &::after {
        padding-left: 43px;
      }
    }
    .contact {
      margin-top: 26px;
      .contact-icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-image: url('img/icons/contact_sprite.png');
        -ms-behavior: url('js/bg.htc'); background-size: 120px;
        margin-right: 8px;
        &.phone {
          background-position: 0 0;
          &:hover {
            background-position: 60px 0;
          }
        }
        &.map {
          background-position: 0 120px;
          &:hover {
            background-position: 60px 120px;
          }
        }
        &.mail {
          background-position: 0 60px;
          &:hover {
            background-position: 60px 60px;
          }
        }
      }
    }
    .copyright {
      margin-top: 15px;
      font-size: 13px;
    }
    @include small {
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .navigation {
    width: 40%;
    float: right;
    ul {
      list-style-type: none;
      li {
        display: block;
        padding-bottom: 4px;
        a {
          color: #6a6a6a;
          text-decoration: none;
          font-size: 17px;
          &:hover {
            color: $color-main;
          }
        }
      }
    }
    @include small {
      width: 100%;
      float: none;
    }
  }
}