#sidr {
  text-align: left; 
  font: $font-main;
  color: $sidebar-font-color; 
  background: $sidebar-bg-color;
  ul {
    margin: 0 0;
    li {
      padding: 10px 0;
      &:nth-of-type(even) {
        background: #3C277C;
      }
      a {
        font: $font-main;
      }
      ul {
        li {
          background: transparent !important;
          &:first-of-type {
            padding: 15px 0 10px 0;
          }
          &:last-of-type {
            padding: 10px 0 0 0;
          }
          a {

          }
        }
      }
    }
  }
  .content {
    text-align: center;
    .search-input {
      margin-top: 20px;
      font-size: 20px;
      background: $color-alt;
    }
    .search-submit {
      font-size: 30px;
    }
    .give-now.btn {
      margin-top: 30px;
    }
    .social {
      margin-top: 30px;
      a {
        &:hover {
          color: $color-alt !important;
        }
      }
    }
  }
}