.home-slider-wrapper {
	.ls-l {
		font-size: 20px;
		h1, h2, h3, h4, h5, h6 {
			background: #876fcf;
			background: rgba(135,111,207,0.6);
			color: #fff;
			padding: 3px 5px;
			margin-bottom: 8px;
			display: inline-block;
		}
		.give-now.btn {
			margin-top: 10px;
			font-size: 24px;
		}
	}
}